html{
	box-sizing: border-box;
}
*,*:after,*:before{
	box-sizing: inherit;
}
html, body{
	height: 100%;
}
body, ul{
	margin: 0;	
	padding: 0;
}
a{
	text-decoration: none;
	color: inherit;
}
body{
	font-size: 16px;
	color: #333;
	background: #f0f0f0
}
header, footer{
	height: 60px;
	line-height: 60px;
	background: #ccc
}
:global(.h2){
	color: #00f;
}
.container{
	width: 1200px;
	margin: auto;
}
nav ul li{
	display: inline-block;
	padding: 0 2em;
}
nav ul li:hover{
	background: #fff
}
.main{
	height: 510px;
	margin: auto;
	text-align: center;
}
footer{
	width: 100%;
	text-align: center;
}